/* ## Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600 */

/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  background-image: url("/images/bg-pattern-desktop.svg");
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 0 10rem 8rem;
}

.left .logo {
  margin-bottom: 2rem;
}

.main-title {
  color: hsl(0, 36%, 70%);
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0;
  letter-spacing: 1rem;
}

.secondary-title {
  color: black;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 600;
  word-wrap: break-word;
  letter-spacing: 1rem;
}

.left p {
  max-width: 80%;
  color: hsl(0, 36%, 70%);
  font-size: 1rem;
  line-height: 2rem;
}

.right {
  width: 40%;
  height: 100vh;
  margin: 0;
}

.right img {
  height: 100vh;
}

.form-container {
  width: 80%;
}

form {
  display: flex;
  align-items: center;
  position: relative;
}

input {
  width: 100%;
  padding: 1.1rem;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 2rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
}

input::placeholder {
  color: #efdbdd;
  font-size: 1rem;
  font-weight: 400;
  padding-right: 15rem;
  text-indent: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 3.25rem;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0px 3px 3px hsl(0, 36%, 70%);
  transition: box-shadow 0.5s;
  position: absolute;
  right: 0;
}

button:hover {
  box-shadow: 0px 3px 3px hsl(0, 6%, 24%);
  cursor: pointer;
}

.hidden {
  /* display: none;
  visibility: hidden; */
}

.error-icon {
  position: absolute;
  right: 10rem;
}

.error-border {
  border: 1px solid hsl(0, 93%, 68%);
}

.error-text p {
  padding: 1rem 0 0 1.5rem;
  color: hsl(0, 93%, 68%);
}
